:root{
    --error-color: red;
    --ok-color: green;
    --filler-grey: grey;
    --background-blue: #091634;
    --card-color: #0d1f4b;
    --dark-blue: #091634;
    --color-coral: #ff7f50;
    --another-blue: #200e4b;
    --light-blue-shadow: rgba(51, 156, 255, .3);

}


body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5rem;
    color: white;
    background-image: linear-gradient(#200e4b, #091634);
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
}

*{
    box-sizing: border-box;
}

.noClick {
    pointer-events: none;
}

.answer-container {
    cursor: pointer;
}

.status-outer,
.status-inner{
    height: 1rem;
    overflow: hidden;
    background-color: var(--filler-grey);
    border-radius: 8px;
}

.status-outer {
    background-image: linear-gradient(to left, #330e00, #992900);
    width: 550px;
    box-shadow: 0 0 .5rem .1rem rgba(255, 127, 80, .15);
}

.status-inner{
    width: 0;
    background-color: var(--color-coral);
    max-width: 550px;
    transition: 0.8s ease-out;
}

#playfield, 
.wrapper, 
.endscreen,
.score-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#playfield{
    width: 800px;
    padding-bottom: 3rem;
    padding-top: 2rem;
    transition: .8s;
}

#playfield.close{
    transform: scale(0);
    opacity: .1;
}

.answer-container {
    width: 550px;
    height: 80px;
    transform-style: preserve-3d;
    position: relative;
    perspective: 40rem;
}

.answer-container + .answer-container {
    margin-top: 1rem;
}

.answer-front,
.answer-back {
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 550px;
    height: 80px;
    backface-visibility: hidden;
    transition: .6s ease-in;
    box-shadow: 0 0 1rem .2rem rgba(0, 0, 0, .15);
}



.answer-front {
    display: flex;
    padding: 0.25rem 1rem;
    flex-direction: row;
    align-items: center;
    background-color: var(--card-color);
}

.answer-back {
    background-color: var(--card-color);
}

.answer-back {
    transform: rotateX(180deg);
}

.answer-front.flipped {
    transform: rotateX(-180deg);
}

.answer-back.flipped {
    transform: rotateX(0deg);
    box-shadow: 0 0 2rem (53, 210, 31, .4);
}

.answer-front.err{
    background-color: var(--error-color);
    box-shadow: 0 0 2rem (255, 60, 0, .4);
}

.answer-front.right{
    background-color: var(--ok-color)
}

.answer-container.right,
.answer-container.err {
    border-radius: 8px;
}

p.answer {
    padding: 1rem;
    width: 500px;
    font-weight: bold;
}

.timer-wrapper,
.score-wrapper{
    width: 8rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;

}

.timer-wrapper {
    right: 5rem;
    top: 1.5rem;
    box-shadow: 0 0 2rem .1rem rgba(255, 127, 80, .35);
    border: 8px solid var(--color-coral);
}

.score-wrapper {
    top: 1.5rem;
    left: 5rem;
    border: 8px solid #339cff;
    box-shadow: 0 0 2rem .15rem rgba(51, 156, 255, .3);
}


#timer,
#score {
    font-size: 2rem;
    font-weight: bold;
}


#text-status {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.score-wrapper p{
    margin: 0;
}

#playfield, .endscreen{
    border-radius: 8px;
    /*box-shadow: 0 0 2rem .15rem rgba(32, 14, 75, .7);*/
    box-shadow: 0 0 2rem var(--light-blue-shadow);
    margin-top: 2rem;
    background-color: var(--background-blue);
}

.endscreen{
    min-width: 300px;
    min-height: 200px;
}

.endscreen p:first-child {
    font-size: 2rem;
}

.endscreen p:last-child {
    font-size: 4rem;
    margin-top: 0;
    font-weight: bold;
}

.buttons,
.diff-levels {
    width: 550px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-blue);
    box-shadow: 0 0 1rem var(--light-blue-shadow);
}

.buttons div,
.diff-levels > .menuBtn {
    width: 300px;
    height: 50px;
    border-radius: 8px;
    font-weight: 700;
    box-shadow: 0 0 1rem var(--another-blue);
}

.buttons div + div {
    margin-top: 1rem;
}

.menuBtn,
.diff-level {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuBtn {
    background-color: var(--color-coral);
}

div.diff-levels > div.menuBtn,
.diff-level {
    background-color: var(--card-color);
}

div.diff-levels > div.menuBtn + div.menuBtn {
    margin-top: 1.5rem;
}


