body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2rem;
}

*{
    box-sizing: border-box;
}

.noClick {
    pointer-events: none;
}

.answer-container {
    cursor: pointer;
}

.status-outer,
.status-inner{
    height: 1rem;
    overflow: hidden;
    background-color: grey;
    border-radius: 8px;
}

.status-outer {
    background-color: grey;
    width: 550px;
}

.status-inner{
    width: 0;
    background-color: green;
    max-width: 550px;
    transition: 0.8s ease;
}

#playfield, .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-container {
    display: flex;
}

.answer-front {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.answer {
    margin: 1rem;
}